<app-recipes-table></app-recipes-table>
<div class="flex justify-center mt-5">
  <button
    class="rounded-md flex items-center gap-2 bg-slate-800 py-2 px-4 border border-transparent text-center text-sm text-white transition-all shadow-md hover:shadow-lg focus:bg-slate-700 focus:shadow-none active:bg-slate-700 hover:bg-slate-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none ml-2"
    (click)="onDownloadAll()"
  >
    <mat-icon>download</mat-icon>
    Download All
  </button>
</div>
